@use "global" as *;
.card__baddge {
  width: rem(350);
  min-height: inherit;
  height: inherit;
  position: relative;
  margin: rem(25);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.card__baddge::after {
  content: "New";
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(60);
  height: rem(60);
  position: absolute;
  top: -5%;
  left: -6%;
  background-color: #ffba6a;
  border-radius: rem(45);
  overflow: hidden;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
